<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock title %} | zym</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="static/style/style.css">
    <style>
    body {
        background-image: url('static/images/admin_dash.png');
        background-size: cover;
        background-position: center;
    }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link text-white" href="/discover">Discover</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/admin">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/profile">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/edit_profile">Edit Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/">Logout</a>
              </li>
            </ul>
            </div>
        </nav>
    </header>
    {% block body %}
        <h1 style="text-align:center;color:white;">Welcome Admin</h1>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card32">
                        <div class="card-body">
                            <h5 class="card-title32">Add Trainer</h5>
                            <button type="button" class="btn btn-outline-info" onclick="window.location.href = '/add_trainer'">Add Trainer</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card32">
                        <div class="card-body">
                            <h5 class="card-title32">Delete Trainer</h5>
                            <button type="button" class="btn btn-outline-danger" onclick="window.location.href = '/delete_trainer'">Delete Trainer</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card32">
                        <div class="card-body">
                            <h5 class="card-title32">Add Equipment</h5>
                            <button type="button" class="btn btn-outline-info" onclick="window.location.href = '/new_equip'">Add Equipment</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card32">
                        <div class="card-body">
                            <h5 class="card-title32">Delete Equipment</h5>
                            <button type="button" class="btn btn-outline-danger" onclick="window.location.href = '/delete_equip'">Delete Equipment</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card32">
                        <div class="card-body">
                            <h5 class="card-title32">Add Member</h5>
                            <button type="button" class="btn btn-outline-info" onclick="window.location.href = '/add_member'">Add Member</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card32">
                        <div class="card-body">
                            <h5 class="card-title32">Delete Member</h5>
                            <button type="button" class="btn btn-outline-danger" onclick="window.location.href = '/delete_view_member'">Delete Member</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card32">
                        <div class="card-body">
                            <h5 class="card-title32">View Equipment Details</h5>
                            <button type="button" class="btn btn-outline-info" onclick="window.location.href = '/view_equipment'">View Equipment Details</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card32">
                        <div class="card-body">
                            <h5 class="card-title32">View Staff</h5>
                            <button type="button" class="btn btn-outline-info" onclick="window.location.href = '/view_staff'">View Staff</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock body %}
    <footer class="bg-dark text-light" style="margin-top:100px;">
        <div class="container">
            <p class="mb-0">&copy; 2023 Web. All rights reserved.</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNS3vx" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
