{%if admin%}
{% extends "admin.html" %}
{%elif trainer%}
{%extends "trainer.html"%}
{%elif member%}
{%extends "member.html"%}
{%else%}
{%extends "home.html"%}
{%endif%}
{% block title %}delete members{% endblock title %}
{% block body %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh; background-image: url('static/images/img1_login.webp'); background-size: cover; background-position: center;">
    <div class="col-md-6">
      <div class="card" style="max-width: 450px; margin: 0 auto;">
        <div class="card-header text-primary text-center">
          <h2 class="font-weight-bold" style="font-family: Arial, sans-serif; font-size: 24px;">Delete Member</h2> <!-- Updated font style and size -->
        </div>
        <div class="card-body">
          <form action="/delete_view_member" method="post">
            <div class="form-group">
              {% if msg %}
              <p class="text-danger text-center"><strong>{{ msg }}</strong></p>
              {% endif %}
              <label for="username" style="font-family: Arial, sans-serif; font-size: 16px;">Username</label> <!-- Updated font style and size -->
              <input type="text" name="username" class="form-control" id="username" placeholder="Enter username ..">
            </div>
            <div class="form-group">
              <label for="password" style="font-family: Arial, sans-serif; font-size: 16px;">Password:</label> <!-- Updated font style and size -->
              <input type="password" name="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-danger" style="font-family: Arial, sans-serif;">DELETE</button> <!-- Updated font style -->
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock body %}