{%if admin%}
{% extends "admin.html" %}
{%elif member%}
{%extends "member.html"%}
{%endif%}
{% block title %}my equipments{% endblock title %}
{% block body %}
<div class="container mt-5">
    <h2 class="text-center" style="color:white;">Equipments</h2>
    <table class="table table-bordered mt-4">
        <thead class="thead-bi-lightbulb">
            <tr>
                <th style="color:white;">Buy Date</th>
                <th style="color:white;">Equipment Name</th>
                <th style="color:white;">Manufacturer</th>
                <th style="color:white;">Quantity</th>
                <th style="color:white;">Price</th>
                 
            </tr>
        </thead>
        <tbody>
            {% for i in range(buy_date|length) %}
            <tr>
                <td style="color:white;">{{ buy_date[i] }}</td>
                <td style="color:white;">{{equip[i]}}</td>
                <td style="color:white;">{{ mft[i] }}</td>
                <td style="color:white;">{{ quantity[i] }}</td>
                <td style="color:white;">{{ price[i] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body %}